.brand-logo {
    width: 45px;
    height: 45px;
    margin-bottom: 0px;
}
 
@media only screen and (min-width: 480px) {
    .brand-logo {
        width: 60px;
        height: 60px;
    }
}
  
@media only screen and (min-width: 768px) {
    .brand-logo {
        width: 70px;
        height: 70px;
    }
}
  
@media only screen and (min-width: 1200px) {
    .brand-logo {
        width: 75px;
        height: 75px;
    }
}