.quote {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
    color: gray;
    font-weight: 50;
    margin-top: 20px;
    line-height: 1.3;
}

.body-text {
    font-family: 'Lato', sans-serif;
    text-align: left;
}

.meeting-date {
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

.body-text-highlight {
    color:#279396;
    font-weight: 500;
}

p.strikearoundSw {
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    color: black;
}
p.strikearoundSw:before, p.strikearoundSw:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: #279396
}
p.strikearoundSw:before {
    margin-left: -50%;
    text-align: right;
}
.icon-text-container {
    display: flex;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
}
.icon {
    height: 100px;
    margin: 0px 8px;
}
.padding-div {
    padding: 0px 25px;
}


@media only screen and (max-width: 480px) {
    .icon-text-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}